<!-- fragments/header.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <div class="header-container">
        <!-- 로고 -->
        <div class="logo">
            <a th:href="@{/}">
                <img th:src="@{/images/logo.png}" alt="로고">
            </a>
        </div>

        <!-- 검색 창 -->
        <div class="search-box">
            <form th:action="@{/search}" method="get">
                <input type="text" name="query" placeholder="검색어를 입력하세요">
                <button type="submit">검색</button>
            </form>
        </div>

        <!-- 로그인/로그아웃 -->
        <div class="auth-links">
            <a th:href="@{/login}">로그인</a>
        </div>
    </div>
</header>
</body>
</html>
